body{
    margin: 0 auto;
    font-family: 'Chewy', sans-serif;
}

h1{
    padding-top: 5%;
    text-align: center;
}

#gameBoard {
    width: 580px;
    margin: auto;
    background-color: rgb(176, 235, 235);
    border: 5px solid #ffcc5c;
      }

  #gameBoard > div {
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: #0f0d06;
  }

  #timerCounter, #resetAndScore{
    display: flex;
  }



  #questionAnswer {
      margin-top: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  #resetAndScore{
      margin-top: 30%;
  }

  #thisStreak, #totalCount{
    border: none;
    background-color: rgb(176, 235, 235);
    width: 60px;
    padding-left: 10px;
    font-size: 35px;
    color: green;
} 

  label[for="totalCount"]{
        margin-left: auto;
  }

  #mistakesAllowed{
      margin-left: auto;
  }

  #answerButton {
       width: 25%;
       padding: 2px;
       margin-top: 10px;
       color: rgb(96, 177, 5);
       border-radius: 30px;
       border: solid 3px rgb(96, 177, 5) ;
       font-size: 20px;
       font-family: 'Chewy', sans-serif;
  }

  #resetButton{
      border: solid 3px red;
      border-radius: 50px;
      width: 10%;
      color: red;
      background-color: rgb(37, 37, 92);
      font-size: 10px;
  }

  #mathProblem, #yourAnswer {
        width: 30%;
        font-size:  60px;
        text-align: center;
        border: none;
  }

  #mathProblem {
    background-color: rgb(176, 235, 235);
    color: black;
    width: 400px;
  }

  #individualTimer{
      border: 2px solid #ffcc5c;
      display: flex;
      align-items: center;
      width: 200px;
      height: 30px;
      position: relative;
      background-color: #ddd;
 }

 #progressBar{
      display: flex;
      align-items: center; 
      background-color: #15af1a;
      width: 20px;
      height: 30px;
      position: absolute;
 }

  label{
    display: flex;
    align-items: center;
    font-size: 30px;
  }      
 
  input:focus{
      outline:none;
  }

  #yourAnswer:focus {
      outline: auto;
  }



