body{
    margin: 0 auto;
    font-family: 'Chewy', sans-serif;
    background-image: url("Math\ Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1{
    padding-top: 2%;
    text-align: center;
    font-size: 2rem;
}

#gameBoard {

    width: 45vw;
    height: 65vh;
    margin: auto;
    background-color: rgb(176, 235, 235);
    border: 5px solid #ffcc5c;
    color: #0f0d06;
    padding: 5px;
    font-size: 1em;
      }

  #timerCounter, #resetAndScore{
    display: flex;
  }

  #questionAnswer {
      margin: 5vh 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #high-scores{
    height: 20vh;
    width: 30vw;
    border: .2rem dotted darkgreen;
    margin: 0 auto;
    text-align: center;
  }
  
  li{
    text-align: left;
    font-size: 2.5vh;
    padding: 0.6vh 0;
  }
  #resetAndScore{
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 40vw;
    margin-top: 4vh;
    margin-left: 4vw;
    

  }

  #thisStreak, #totalCount{
    border: none;
    background-color: rgb(176, 235, 235);
    width: 6vh;
    /* padding-left: 0.5rem; */
    font-size: 3vh;
    color: green;
} 

  label[for="totalCount"]{
        margin-left: 1;
  }

  #mistakesAllowed{
      margin-left: auto;
  }

  #answerButton {
       width: 10vw;
       padding: 0.5vh;
       margin-top: 2vh;
       color: rgb(96, 177, 5);
       border-radius: 2rem;
       border: solid 2px rgb(96, 177, 5) ;
       font-size: 2vh;
       font-family: 'Chewy', sans-serif;
  }

  #resetButton{
      border: solid 2px red;
      padding: 0.5vh;
      border-radius: 2rem;
      width: 6vw;
      color: red;
      background-color: rgb(37, 37, 92);
      font-size: 1.3vh;
      font-weight: bold;
  }

  #mathProblem, #yourAnswer {
        width: 12vw;
        font-size: 4vh;
        text-align: center;
        border: none;
  }

  #mathProblem {
    background-color: rgb(176, 235, 235);
    color: black;
  }

  #individualTimer{
      border: 2px solid #ffcc5c;
      display: flex;
      align-items: center;
      width: 11.6vw;
      background-color: #ddd;
 }

 #progressBar{
      background-color: #15af1a;
      height: 3vh;
 }
  input:focus{
      outline:none;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
  }

  #yourAnswer:focus {
      outline: auto;
  }


/* @media screen and (max-width: 370px) {
  #formWrap{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    padding-bottom: 5%;
    font-size: 25px;
  }

  #gameBoard {
    width: 97%;
    margin: 0 auto;
    padding: 0;
   }

  #mathProblem, #yourAnswer {
    width: 40%;
    font-size:  60px;
  }

  #mathProblem {
    width: 97%;
  }

  #questionAnswer {
    width: 97%;
    padding: 0;
  }

  label{
    font-size: 18px;
  }

  #resetButton{
    width: 20%;
    font-size: 10px;
  }

  #answerButton {
    width: 35%;
    font-size: 30px;
  }
} 

@media screen and (max-width: 450px) and (min-width: 380px) { */
  /* #formWrap{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    padding-bottom: 5%;
    font-size: 25px;
  }

  #gameBoard > div {
    padding: 20px;
    text-align: center;
    font-size: 1em;
    color: #0f0d06;
      }

  #gameBoard {
    width: 90%;
    margin: 0;
    padding: 15px;
   }

  #mathProblem, #yourAnswer {
    width: 40%;
    font-size:  60px;
  }

  #mathProblem {
    width: 97%;
  }

  #questionAnswer {
    width: 97%;
    padding: 0;
  }

  label{
    font-size: 18px;
  }

  #resetButton{
    width: 20%;
    font-size: 10px;
  }

  #answerButton {
    width: 35%;
    font-size: 30px;
  }
}
 */
